extends layout
mixin tableRow(title, size, seeds, magnet)
    tr
      th(scope="row")
        span.name.mb-0.text-sm#name= name
      td.budget#downloadSpeed= downloadSpeed
      td
        span.badge.badge-dot.mr-4
          span.status#timeRemaining= timeRemaining
      td
        .d-flex.align-items-center
          span.completion.mr-2#progress= progress
          div
            a.btn.btn-sm.btn-primary(href="#" role="button" data-magnet=`${magnet}`) Download


block content
    div.main-content.mainDiv
    form.halfWidth
      .form-group
        label.form-control-label(for="example-text-input") Search for torrents
        input#example-text-input.form-control.searchTerm(type="text" placeholder="Search Torrent:")
      .form-group
        button(type="button" class="btn btn-primary btn-lg torrentSearch").noUi-marker-large Search
    .table-responsive.halfWidth
      div
        table.table.align-items-center
          thead.thead-light
            tr
              th.sort(scope="col" data-sort="name") Torrent
              th.sort(scope="col" data-sort="budget") Size
              th.sort(scope="col" data-sort="status") Seeds
              th.sort(scope="col" data-sort="completion") Download
              th(scope="col")
          tbody.list#torrentList
            each torrent in data
                +tableRow('','' ,'','')
            else
                p There are no torrents

